.body {
    font-family: sans-serif;
    background-color: black;
    margin-top: 75px;
    color:rgb(162, 0, 255);
}

.center {
    text-align: center;
    
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.blue
{
    color: blue;
}
.pink
{
    color:rgb(255, 95, 119);
}
.margin
{
    margin: 0 auto;
}